
<html>
	<head>
		<title>Delivice</title>
	</head>

	<body>
		

		<div class = "partial">
		<ul id="chooseheader1">	
			<a href="/"><h2>Delivice</h2></a>
				<ul id = "stores">
					<li><%= link_to "#{@subcategory.category.store.name}", "/stores/#{@subcategory.category.store.id}"%></li>
					<li><%= link_to 'Switch Store', stores_path %></li>
				</ul>
			<span id = "check1">	
				<% if user_signed_in? %>
					<li><%= link_to "Cart (#{current_user.carts.last.items.size})", "/carts/#{current_user.carts.last.id}"%></li>		
					<li><%= "Welcome, #{current_user.first_name}" %></li>
					<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
				<% else %>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
				<% end %>
			</span>
		</ul>
		</div>




		<div class = "cateonleft">
			<ul>
				<% @categories.each do |category| %>
				<li>
					<%= link_to category.name, category %>
					<span class ="hidesub">More</span>
					<ul class ="sub">
						<% category.subcategories.each do |subcategory| %>
						<li> <%= link_to subcategory.name, subcategory %> </li>
						<% end %>
					</ul>
				</li>
				<% end %>
			</ul>
		</div>

		<div id="popitems">
			<ul>	
				<% @items.each do |item| %>
					<li>
						<%= image_tag item.picture.url(:thumb) %>
						<p><%= item.name %></p><%= link_to 'Add to Cart', "/ownerships?item_id=#{item.id}&cart_id=#{current_user.carts.last.id}", method: :post %>
						<p><%= link_to 'Remove', "/ownerships/:id?item_id=#{item.id}&cart_id=#{current_user.carts.last.id}", method: :delete %></p>
					</li>
				<% end %>
			</ul>

		</div>

	</body>

</html>
