<!DOCTYPE html> 

<html>
	<head>
		<title>Delivice</title>
	</head>
	
	
	<body id="alltogether">

		<!-- BEGIN: Header that always stay at the top -->
		<ul class="header">	
			<a href="/"><h2>Delivice</h2></a>
			<span id="check">
				
				<% if user_signed_in? %>
					<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>

				<% else %>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
				<% end %>

			</span>
		</ul>
		<!-- END: header that always stay at the bottom -->



		<div id ="choosestore"/>
			<h1>Choose Your Store</h1>
			<ul>
				<a href= "/stores/1"><li><%= image_tag 'kroger.png', size: "200x200" %></li></a>
				<a href= "/stores/2"><li><%= image_tag 'wholefoods.png', size: "200x200" %></li></a>
				<a href= "/stores/3"><li><%= image_tag 'Costco.png', size: "200x200" %></li></a>
			</ul>

		</div> 



		<% if user_signed_in? && ((current_user.carts) == [] ||current_user.carts.last[:status] != "shopping" )%>
			<% Cart.create(:user_id => current_user.id, :status => "shopping") %>
		<% end %>

		
		<!-- BEGIN: footer that always stay at the bottom -->
		 <ul class="footer">
			<span class="legal">
				<li>&copy; 2014</li>
				<li><%= link_to "Privacy", privacy_path %></li>
				<li><%= link_to "Terms", terms_path %></li>
			</span>
			<span class="icons">
				<li><%= link_to image_tag('facebook.png', :class => "fb"), "http://www.facebook.com", :target=> "_blank" %></li>
				<li><%= link_to image_tag('twitter.png', :class => "tw"), "http://www.twitter.com", :target=> "_blank" %></li>
			</span>
		</ul> 
		<!-- END: footer that always stay at the bottom -->


	</body>
	
</html>