
<html>

	<head>
		<title>Delivice</title>
	</head>

	<body>
		
		<%= render :file => "_storenav" %>
		<div class = "cateonleft">
			<ul>
				<% @kroger_categories.each do |category| %>
				<li>
					<%= link_to category.name, category %>
					<span class ="hidesub">More</span>
					<ul class ="sub">
						<% category.subcategories.each do |subcategory| %>
						<li> <%= link_to subcategory.name, subcategory %></li>
						<% end %>
					</ul>
				</li>
				<% end %>
			</ul>
		</div>
		

		
		<div id = "popitems">
			<ul>
				<% @kroger_subcategories[0].items.each do |item| %>
					<li>
						<%= image_tag item.picture.url(:thumb) %>
						<p><%= item.name %></p>
						<%= link_to 'Add to Cart', "add_to_cart/#{item.id}", method: :post %>
					</li>
				<% end %>
			</ul>

		</div>



	</body>

</html>