<!DOCTYPE html> 

<html>
	<head>
		<title>Delivice</title>
	</head>

	<body>

		<div class="button" id="next"><%= image_tag "down.png"%></div>
		<div class="button" id="prev"><%= image_tag "up.png"%></div>


		<ul class="header">	
			<h2>Delivice</h2>
			<span id="check">
				
				<% if user_signed_in? %>
					<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>

				<% else %>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
				<% end %>

			</span>
		</ul>




		<div id="fader">

			<!-- BEGIN: first page dive -->
			<div id="first">
				<h1>Care For Your Body. Care For Your Mind<br>Care For Your Time</h1>
				<h2><%= link_to 'Start Shopping', stores_path %></h2>
				<p>free delivery for orders over 40 dollars</p>
			</div>
			<!-- END: first page dive -->




			<!-- BEGIN: second page dive -->
			<div id="second">
				<h1>Our Core Values</h1>

				<ul>
					<li>
						<h2>Quality</h2>
						<p>We guarantee that groceries delivered to you from us are to your highest standards. If it's not fresh, we will not deliver.</p>
					</li>
					<li>
						<h2>Trust</h2>
						<p>We pledge to get your orders delivered on time, every time.</p>
					</li>
					<li>
						<h2>Care</h2>
						<p>Every order we get, we donate 3% of the profit to local or national charities.</p>
					</li>

				</ul>
				<h2><%= link_to 'Start Shopping', stores_path %></h2>
				<p>free delivery for orders over 40 dollars</p>

			</div>
			<!-- END: second page dive -->


			<!-- BEGIN: third page dive -->
			<div id="third">
				<h1>How It Works</h1>
				<ul id="toprow">
					<li>
						<img src="assets/store.png">
						<h3>Choose Your Store</h3>
					</li>
					<li>
						<img src="assets/cart.png">
						<h3>Choose Your Items</h3>
					</li>
					<li>
						<img src="assets/time.png">
						<h3>Choose Delivery Time</h3>
					</li>
				</ul>

				<ul id="bottonrow">
					<li>
						<img src="assets/pay.png">
						<h3>Pay Online</h3>
					</li>
					<li id="middle">
						<span><h2><%= link_to 'Start Shopping', stores_path %></h2>
						<p>free delivery for orders over 40 dollars</p></span>
					</li>
					<li>
						<img src="assets/deliver.png">
						<h3>Answer Your Door</h3>
					</li>
				</ul>
				

			</div>
			<!-- END: third page dive -->



			<!-- BEGIN: forth page dive -->
			<div id="forth">
				<h1>What Our Customer Are Saying</h1>

				<ul>
					<li>
						<h2>Quality</h2>
						<p>We guarantee that groceries delivered to you from us are to your highest standards. If it's not fresh, we will not deliver.</p>
					</li>
					<li>
						<h2>Trust</h2>
						<p>We pledge to get your orders delivered on time, every time.</p>
					</li>
					<li>
						<h2>Care</h2>
						<p>Every order we get, we donate 3% of the profit to local or national charities.</p>
					</li>

				</ul>
				<h2><%= link_to 'Start Shopping', stores_path %></h2>
				<p>free delivery for orders over 40 dollars</p>
			</div>
			<!-- END: forth page dive -->



		</div>


		
		
		
		<!-- BEGIN: footer that always stay at the bottom -->
		<ul class="footer">
			<span class="legal">
				<li>&copy; 2014</li>
				<li><%= link_to "Privacy", privacy_path %></li>
				<li><%= link_to "Terms", terms_path %></li>
			</span>
			<span class="icons">
				<li><%= link_to image_tag('facebook.png', :class => "fb"), "http://www.facebook.com", :target=> "_blank" %></li>
				<li><%= link_to image_tag('twitter.png', :class => "tw"), "http://www.twitter.com", :target=> "_blank" %></li>
			</span>
		</ul>
		<!-- END: footer that always stay at the bottom -->

	</body>
</html>