
<html> 
	<head>
		<title>Delivice</title>
	</head>

	<body>

		<%= render :file => "_storenav" %>


		<div id = "showcart">
			<h1>My Cart</h1>
			
			<% total = 0 %>
		
			<ul>
				<% @cart.ownerships.each do |ownership| %>
				<li>	
					<%= image_tag Item.find(ownership.item_id).picture.url(:thumb) %>
					<%= Item.find(ownership.item_id).name %>
					<%= ownership.quantity %>
				</li>
					<% total = total + Item.find(ownership.item_id).price * ownership.quantity %>
				<% end %>
			</ul>



			<div id = "total">
				<%= "Total Price: $#{total.round(2)}" %>
			</div>

			<%= link_to 'Check Out Now', "/charges/new?amount=#{total}" %>
		</div>


	</body>

</html>

