<h1>Items index</h1>

<ul>
	<% @items.each do |item| %>
		<li>
			<%= item.name %>
			<%= item.price %>
			<%= item.subcategory_id %>
			<%= item.unit %>
			<%= link_to 'Show', item %>
        	<%= link_to 'Edit', edit_item_path(item) %>
		</li>
	<% end %>
</ul>

