
<html>
	<head>
		<title>Delivice</title>
	</head>

	<body>
		


	<div class = "storenavigation">
		<ul>	
			<a href="/"><h2>Delivice</h2></a>
					<li id="cart_icon"><%= image_tag 'cart.png', size: "40x40" %></li>
					<li id="current_store"><%= link_to "#{@category.store.name}", "/stores/#{@category.store.id}" %></li>
					<li id="switch"><%= link_to 'switch store', stores_path() %></li>
			<span id="upper_right">	
				<% if user_signed_in? %>
					<li><%= link_to "Cart (#{current_user.carts.last.items.size})", "/carts/#{current_user.carts.last.id}"%></li>		
					<li><%= "Welcome, #{current_user.first_name}" %></li>
					<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
				<% else %>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Sign In", new_user_session_path %></li>
				<% end %>
			</span>
		</ul>
	</div>




		<div class = "cateonleft">
			<ul>
				<% @categories.each do |category| %>
				<li>
					<%= link_to category.name, category %>
					<span class ="hidesub">More</span>
					<ul class ="sub">
						<% category.subcategories.each do |subcategory| %>
						<li><%= link_to subcategory.name, subcategory %></li>
						<% end %>
					</ul>
				</li>
				<% end %>
			</ul>
		</div>


		<div id ="popitems">
			<% @subcategories.each do |subcategory| %>
					<li>
						<strong><%= link_to subcategory.name, subcategory %></strong>
						<%= link_to "View More", subcategory %>
						<ul>
							<% subcategory.items.each_with_index do |item,index| %>
							<% if index == 4 %>
								<% break %>
							<% end %>
							<li class="each_item">
								<div class="item_pic"><%= image_tag item.picture.url(:thumb) , size: "170x150"%></div>
								
								<div class="quantity_button_bar">
									<%= link_to(image_tag('minus.png', width: '30', height: '30'), "/ownerships/:id?item_id=#{item.id}&cart_id=#{@cart.id}", method: :delete)  %>
									<span class="price"><%= "$#{item.price}"%></span>
									<%= link_to(image_tag('plus.png', width: '30', height: '30'), "/ownerships?item_id=#{item.id}&cart_id=#{@cart.id}", method: :post)  %>
								</div>

								<span class="item_name"><strong><%= item.name %></strong></span>		
								<p><%= item.unit %></p>
								
							</li>
							<% end %>
						</ul>
					</li>
			<% end %>
		</div>
		











	</body>
<html>