
<html>
	<head>
		<title>Delivice</title>
	</head>

	<body>
		<%= render :file => "_storenav" %>

		<div class = "cateonleft">
			<ul>
				<% @categories.each do |category| %>
				<li>
					<%= link_to category.name, category %>
					<span class ="hidesub">More</span>
					<ul class ="sub">
						<% category.subcategories.each do |subcategory| %>
						<li><%= link_to subcategory.name, subcategory %></li>
						<% end %>
					</ul>
				</li>
				<% end %>
			</ul>
		</div>


		<div id ="popitems">

			<% @subcategories.each do |subcategory| %>
					<li>
						<%= link_to subcategory.name, subcategory %>
						<%= link_to "View More", subcategory %>
						<ul>
							<% subcategory.items.each_with_index do |item,index| %>
							<% if index == 4 %>
								<% break %>
							<% end %>
							<li>
								<%= image_tag item.picture.url(:thumb) %>
								<p><%= item.name %></p>
								<%= link_to 'Add to Cart', "/carts/#{item.id}", method: :put %>
							</li>
							<% end %>
						</ul>
					</li>
			<% end %>

		</div>
		

	</body>
<html>