<div class = "partial">
	
	<ul id="chooseheader1">	
		<a href="/"><h2>Delivice</h2></a>
		<ul id = "stores">
			<li><%= link_to 'Kroger', store_path(1) %></li>
			<li><%= link_to 'Whole Foods', store_path(2) %></li>
			<li><%= link_to 'Costco', store_path(3) %></li>
		</ul>
		<span id = "check1">	
			<% if user_signed_in? %>
				<li><%= link_to "Cart (#{current_user.carts.last.items.size})", "/carts/#{current_user.carts.last.id}"%></li>		
				<li><%= "Wlecome, #{current_user.first_name}" %></li>
				<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
			<% else %>
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
				<li><%= link_to "Sign In", new_user_session_path %></li>
			<% end %>
		</span>
	</ul>
</div>