
<html>
	<head>
		<title>Delivice</title>
	</head>
	<body>
		<%= form_tag charges_path do %>

		<%= hidden_field_tag :amount, @amount %>

		  <article id="payment_page">
		    <label class="amount">
		      <span> <%= "Amount: $#{params[:amount]}"%> </span>
		    </label>
		  </article>

		  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		          data-description="My Grocery Bill"
		          data-amount="<%=@amount%>"></script>
		<% end %>


	</body>
</html>