

<html>
	<head>
		<title>Delivice</title>
	</head>
	<body id="payment_page">

		<div id="main_body">
		<%= form_tag charges_path do %>

		<%= hidden_field_tag :amount, @amount %>
			
		  <article >
		    <label class="amount">
		      <span id="total_amount"><%= "Your Total Is: $#{params[:amount]}"%> </span>
		    </label>
		  </article>

		  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		          data-description="My Grocery Bill"
		          data-amount="<%=@amount%>"></script>
		<% end %>
		</div>

	</body>

</html>